<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClienteServicioHospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletObBox</display-name>
    <servlet-name>ServletObBox</servlet-name>
    <servlet-class>servlet.ServletObBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObBox</servlet-name>
    <url-pattern>/ServletObBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PorcentajeOcupacionBox</display-name>
    <servlet-name>PorcentajeOcupacionBox</servlet-name>
    <servlet-class>servlet.PorcentajeOcupacionBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PorcentajeOcupacionBox</servlet-name>
    <url-pattern>/PorcentajeOcupacionBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerEspecialidad</display-name>
    <servlet-name>ObtenerEspecialidad</servlet-name>
    <servlet-class>servlet.ObtenerEspecialidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerEspecialidad</servlet-name>
    <url-pattern>/ObtenerEspecialidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMedico</display-name>
    <servlet-name>ObtenerMedico</servlet-name>
    <servlet-class>servlet.ObtenerMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMedico</servlet-name>
    <url-pattern>/ObtenerMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPorcMed</display-name>
    <servlet-name>ServletPorcMed</servlet-name>
    <servlet-class>servlet.ServletPorcMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPorcMed</servlet-name>
    <url-pattern>/ServletPorcMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PacienteUsaMasSistema</display-name>
    <servlet-name>PacienteUsaMasSistema</servlet-name>
    <servlet-class>servlet.PacienteUsaMasSistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteUsaMasSistema</servlet-name>
    <url-pattern>/PacienteUsaMasSistema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicoMasSolicitado</display-name>
    <servlet-name>MedicoMasSolicitado</servlet-name>
    <servlet-class>servlet.MedicoMasSolicitado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicoMasSolicitado</servlet-name>
    <url-pattern>/MedicoMasSolicitado</url-pattern>
  </servlet-mapping>
</web-app>